body {
    background-image: url(images/hatter.png);
}

#fejlec {
    background-color: orange;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#menusor {
    background-color: white;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#menusor a {
    font-style: italic;
    text-decoration: none;
    color: orange;
}

#gratulalunk {
    background-color: orange;
    padding: 10px;
}