body {
    background-image: url(images/hatter.png);
}

#fejlec {
    background-color: orange;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#menusor {
    background-color: white;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#menusor a {
    font-style: italic;
    text-decoration: none;
    color: orange;
}

#gratulalunk {
    background-color: orange;
    padding: 10px;
    margin-bottom: 15px;
}

#homoktovis {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
}

#homoktovis_kepek img {
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

#homoktovis_kepek {
    margin-bottom: 15px;
}

#csodanoveny {
    background-color: orange;
    padding: 15px;
}

#tudtae {
    background-color: orange;
    padding: 15px;
}

#standarddiv {
    background-color: white;
    padding: 15px;
    text-align: justify;
}

#ellenjavaslat {
    background-color: orange;
    padding: 15px;
    margin-top: 15px;
}

#informaciok {
    background-color: orange;
    padding: 15px;
    margin-top: 15px;
}

#cimsorok {
    background-color: orange;
    padding: 15px;
    margin-top: 15px;
}